# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
.env
db.sqlite3
/staticfiles/
media/

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

authority_proofs/
